pip
python-dotenv
-e .

albumentations
matplotlib
ipykernel
ipywidgets
lmdb
loguru
numpy
pandas
rasterio
safetensors
segmentation-models-pytorch
tensorboard
tqdm
configilm

git+https://git.tu-berlin.de/rsim/reben-training-scripts.git@af6a5343a26868a38b2399b151b26d09e056e2c4#egg=reben_publication

--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio